<!DOCTYPE html>
<html>
    <head>
    <head>
        <title>TODO supply a title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
</head>

{% block body %}
    <body>


    </body>
{% endblock %}
</html>
